<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container-fluid-base-footer">
  <!-- Footer -->
  <footer class="text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase"><b>FOOTER CONTENT</b></h5>

            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Molestiae modi cum ipsam ad, illo possimus laborum ut
              reiciendis obcaecati. Ducimus, quas. Corrupti, pariatur eaque?
                Reiciendis assumenda iusto sapiente inventore animi?
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase"><b>Links</b></h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="#" class="text">Link 1</a>
              </li>
              <li>
                <a href="#" class="text">Link 2</a>
              </li>
              <li>
                <a href="#" class="text">Link 3</a>
              </li>
              <li>
                <a href="#" class="text">Link 4</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="#" class="text">Link 1</a>
              </li>
              <li>
                <a href="#" class="text">Link 2</a>
              </li>
              <li>
                <a href="#" class="text">Link 3</a>
              </li>
              <li>
                <a href="#" class="text">Link 4</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="#" class="text">Link 1</a>
              </li>
              <li>
                <a href="#" class="text">Link 2</a>
              </li>
              <li>
                <a href="#" class="text">Link 3</a>
              </li>
              <li>
                <a href="#" class="text">Link 4</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="#" class="text">Link 1</a>
              </li>
              <li>
                <a href="#" class="text">Link 2</a>
              </li>
              <li>
                <a href="#" class="text">Link 3</a>
              </li>
              <li>
                <a href="#" class="text">Link 4</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="mb-4" />

      <!-- Section: CTA -->
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">Register for free</span>
          <a type="button" href="/" class="btn btn-outline-light btn-rounded">
            Sign up!
          </a>
        </p>
      </section>
      <!-- Section: CTA -->

      <hr class="mb-4" />


    <!-- Grid container -->

    <!-- Copyright -->

    <!-- Copyright -->
    </div>
  </footer>
  <!-- Footer -->
    <div class="text-center p-3">
      © 2020 Copyright:
      <a class="text" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
</div>
<!-- End of .container -->